{% extends 'base.html' %}

{% block content %}
<div class="pure-g-r" id="layout">
    {% include 'sidebar.html' %}
    <div class="pure-u-1", style="background:#f7f2e8">
        <div class="content">
            <div class="pure-g">

                <div class="pure-u-1-2">
                     <div id="publications" class="posts">
                        <h1 class="content-subhead">
                            Recent Publications
                        </h1>
                        <br>

                        {% for item in PUBLICATION_LIST_SHORT %}
                            {% include 'publi_short.html' %}
                        {% endfor %}
                        <a href="publications.html">Full list of publications</a>
                    </div>
                </div>
                <div class="pure-u-1-2">
                    <br>
                    <br>
                    <a class="twitter-timeline" data-width="80%" data-height="590" data-link-color="#2B7BB9" data-aria-polite="assertive" href="https://twitter.com/salmonjsph"> Tweets by salmonjsph</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>

            <!-- A wrapper for all the pages -->
            <div class="posts">
                {% for pg in pages %}
                {% if pg.iscourse == 'false' %}
                    <h1 class="content-subhead" id="{{ pg.category }}">{{ pg.title }}</h1>
                    <section class="post">
                        <p class="post-meta">{{ pg.content }}</p>
                    </section>
                {% endif %}
                {% endfor %}
            </div>

            <div class="posts">
                 <div id="teaching" class="posts">
                    <h1 class="content-subhead">
                        Teaching / courses
                    </h1>

                    {% include 'teaching_short.html' %}

                    <a href="teaching.html">Full list of courses</a>
                </div>
            </div>
            <br>
            <div class="posts">
                 <div id="talks" class="posts">
                    <h1 class="content-subhead">
                        Talks
                    </h1>
                    {% include 'talks_short.html' %}

                    Full list of <a href="talks.html">talks</a>, with slides and possibly videos when recorded.
                </div>
            </div>
            <br>
            <div class="posts">
                 <div id="talks" class="posts">
                    <h1 class="content-subhead">
                        Miscellaneous
                    </h1>
                    {% include 'misc_short.html' %}

                    Here (<a href="misc.html">Miscellaneous</a>), you will find some (math)art and other distractions.
                </div>
            </div>
            <!-- A wrapper for all the blog posts -->
            <div class="posts">
                {% include 'footer.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
