{% extends 'base.html' %}

{% block content %}
<div class="pure-g-r" id="layout">
    {% include 'sidebar.html' %}
    <div class="pure-u-1", style="background:#f7f2e8">
        <div class="content">
            <div id="publications" class="posts" >
                <h1 class="content-subhead">
                    Publications
                </h1>
                <br>
                My publications on
                <a href="https://hal.archives-ouvertes.fr/search/index/?q=%2A&authFullName_s=Joseph+Salmon&sort=producedDate_tdate+desc" title="HAL Salmon">HAL</a>, <a href="https://arxiv.org/search/?query=Salmon%2C+Joseph&searchtype=author&abstracts=show&order=-announced_date_first&size=50" title="arXiv Salmon">arXiv</a>
                and
                <a href="https://scholar.google.fr/citations?user=m7OEDmoAAAAJ&hl=fr&oi=ao">
                Scholar Google
                </a>
                <br>
                <br>
                <br>

                {% for item in PUBLICATION_LIST %}
                    {% include 'publi.html' %}
                {% endfor %}
                {% include 'footer.html' %}
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
