<p class="post-meta">


<li>HLMA408 - Traitement de données pour l'écologie (2018-2019)</li>

<li>HLMA310 - Logiciels scientifiques (2018-2019)</li>

<li>HMMA308 - Apprentissage statistique (2018-2019)</li>

<li>STAT593 - Robust statistics (2018-2019)</li>

<li>M2MO - Statistical Learning (2013-2018)</li>

<li>SD204 - Linear models (2016-2018)</li>

<li>MDI720 - Modèles linéaires (2013-2018)</li>

<li>CR12 - Machine Learning (2013-2015)</li>

<li>SD3 - Statistiques Descriptives (2010-2011)</li>

<li>M53010 - Économétrie (2009-2010)</li>

</p>
