<p class="post-meta", style="color:black">

HLMA408 - Traitement de données pour l'écologie (2018-2019)</br>

HMMA237 - Séries temporelles avancées (2018-2019)</br>

HMMA238 - Bonnes pratiques en programmation (2018-2019)</br>

HLMA310 - Logiciels scientifiques (2018-2019)</br>

HMMA308 - Apprentissage statistique (2018-2019)</br>

STAT593 - Robust statistics (2018-2019)</br>

M2MO - Statistical Learning (2013-2018)</br>

SD204 - Linear models (2016-2018)</br>

MDI720 - Modèles linéaires (2013-2018)</br>

CR12 - Machine Learning (2013-2015)</br>

SD3 - Statistiques Descriptives (2010-2011)</br>

M53010 - Économétrie (2009-2010)</br>

</p>
